<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <link href="/css/a.css" rel="stylesheet" />
        <script data-main="/js/index.js" src="/js/vendor/require-jquery.js"></script>
        <title><%= title %></title>
        <meta id="page_data_websocketUrl" value="<%= websocketURL %>"/>
    </head>
    <body>
		<input type="button" id="btn1" text="open a"/>
		<input type="button" id="btn2" text="close b"/>
		<input type="button" id="btn3" text="opan b"/>
		<input type="button" id="btn4" text="close b"/>
    </body>
</html>
