<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <link href="/css/a.css" rel="stylesheet" />
        <script data-main="/js/index.js" src="/js/vendor/require-jquery.js"></script>
        <title><%= title %></title>
        <meta id="page_data_websocketUrl" value="<%= websocketURL %>"/>
    </head>
    <body>
    </body>
</html>
